.gradle/
/.idea/.name
/.idea/caches/
/.idea/inspectionProfiles/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/vcs.xml
/.kotlin/
/app/build/
/build/
ExampleUnitTest.kt
ExampleInstrumentedTest.kt
local.properties
*.iml
*.tmp